

<template name="rpp_view">
    <div class="rpp_view">
        <h1>Vastatkaa kysymyksiin yksi kerrallaan. Tutkija kertoo teille, koska voitte siirty&auml; seuraavaan kysymykseen</h1>
        <h2>{{questions1}}</h2>
        {{> rpp_question question="How do you do?" answer=1}}
        <h2>{{questions2}}</h2>
        {{> rpp_question question="When did you wake up?" answer=2}}
        <h2>{{questions3}}</h2>
        {{> rpp_question question="When did you wake up?" answer=3}}
    </div>
</template>


<template name="rpp_question">
    <div>
        <!--<h2>{{question}}</h2>-->

        <hr>
        <textarea class="area" maxlength="1000" placeholder="Write here"></textarea>
        <button class="button" id="saveAnswer">Tallenna</button>
        <h3> vastaukset</h3>
        <div class="answers">
            {{#each answers}}
            {{> answer}}
            {{/each}}
        </div>
    </div>
</template>




<template name="answer">
    <div class="answer">
        {{#unless hide_header}}
        <!--<h4>{{time}} | {{nick}}</h4>-->
        {{/unless}}
        {{text}}
    </div>
</template>