




<template name="error">
    Nothing to see here.
</template>

<template name="expert_view">
    <h2>{{#if empty}}On sinun vuorosi neuvoa pariasi. Aloita teht‰v‰ painamalla "Seuraava" Painiketta{{else}}Paina "valmis" painiketta, kun parisi on saanut vasemman puoleisen kuvion astaamaan vain sinulle n‰kyv‰‰ oikeanpuolimmaista kuviota. {{/if}}</h2>
    {{> grid}}{{> level}}

    <div>
        <button id="levelDone" class="">{{#if empty}}Next{{else}}Finished{{/if}}</button>
    </div>
    
</template>
<template name="client_view">
    <h2>{{#if empty}}On sinun vuorosi olla neuvottavana. Odota, ett‰ parisi aloittaa seuraavan teht‰v‰n{{else}} Asettele palaset parisi ohjesitamaan muotoon. {{/if}}</h2>

    <div class="client">
        {{> grid}}
        {{#each pieces}}
        {{> piece id=@index piece=this}}
        {{/each}}
    </div>
</template>

<template name="edit_view">

    <div class="footer">
        <button id="save">Save level</button>
    </div>

    <p></p>
    {{> grid}}
    <p></p>
    {{> grid}}
    {{#each pieces}}
    {{> piece id=@index piece=this}}
    {{/each}}

</template>

<template name="grid">
    <div class="grid">
        {{#each grid}}
        {{> row squares=this row=@index}}
        {{/each}}
    </div>
</template>

<template name="level">
    <div class="grid">
        {{#each grid}}
        {{> row squares=this row=@index}}
        {{/each}}
    </div>
</template>
    


<template name="row">
    {{#each squares}}{{#if @index}}{{> square active=this row=../row column=@index}}{{/if}}{{/each}}<br>
</template>

<template name="square">
<div class="square {{#if active}}black{{/if}}">&nbsp;</div>
</template>

<template name="piece">
    <div class="piece" id="{{id}}" style="top: {{top}}px; left: {{left}}px;">
        {{#each piece}}
        {{> row squares=this row=@index}}
        {{/each}}
    </div>
</template>